<header>
  <div class="menu-button">
    <a (click)="togglemenuService.setSideBarToggle(true)">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>
  <h1 class="page-title">{{pageTitleService.pageTitle$ | async}}</h1>
  <div>
    <a routerLink="/home/cart" routerLinkActive="active" href="javascript:void(0);" class="notify-button text-white">
      <mat-icon>local_laundry_service</mat-icon>
      <span class="notification-count">4</span>
    </a>
    <a routerLink="/dashboard/notification" routerLinkActive="active" href="javascript:void(0);" class="fs26 text-white notify-button">
      <mat-icon>notifications</mat-icon>
      <span class="notification-count">12</span>
    </a>
  </div>

</header>