<mat-tab-group mat-stretch-tabs class="tab-with-icon" mat-align-tabs="center">
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="text-blue">Ragular Services</span>
    </ng-template>
    <div class="tab-content-wrap card">


      <div class="gallery-wrapper">
        <div class="gallery-image">
          <mat-card routerLink="/home/our-services" style="background: 
    url('../../../../assets/images/washing.jpg') center center/cover">
            <span>
              <svg class="icon size-30 ">
                <use xlink:href="../assets/icons/svg-sprite.svg#shirt"></use>
              </svg>
            </span>
            <div class="category-title">Wash & fold <mat-icon class="text-white">navigate_next</mat-icon>
            </div>
            <span>Lorem ipsum dollor semit</span>
          </mat-card>
        </div>
        <div class="gallery-image">
          <mat-card routerLink="/home/our-services"
            style="background:url('../../../../assets/images/dryclean.jpg') center center/cover">
            <span>
              <svg class="icon size-30 ">
                <use xlink:href="../assets/icons/svg-sprite.svg#hanger"></use>
              </svg>
            </span>
            <div class="category-title">Dry cleaning <mat-icon class="text-white">navigate_next</mat-icon>
            </div>
            <span>Lorem ipsum dollor semit</span>
          </mat-card>
        </div>
        <div class="gallery-image">
          <mat-card routerLink="/home/our-services" style="background: 
    url('../../../../assets/images/washing.jpg') center center/cover">
            <span>
              <svg class="icon size-30 ">
                <use xlink:href="../assets/icons/svg-sprite.svg#hanger"></use>
              </svg>
            </span>
            <div class="category-title">Wash & Airdry <mat-icon class="text-white">navigate_next</mat-icon>
            </div>
            <span>Lorem ipsum dollor semit</span>
          </mat-card>
        </div>
        <div class="gallery-image">
          <mat-card routerLink="/home/our-services" style="background: 
    url('../../../../assets/images/iron.jpg') center center/cover">
            <span>
              <svg class="icon size-30 ">
                <use xlink:href="../assets/icons/svg-sprite.svg#iron"></use>
              </svg>
            </span>
            <div class="category-title">Ironing <mat-icon class="text-white">navigate_next</mat-icon>
            </div>
            <span>Lorem ipsum dollor semit</span>
          </mat-card>
        </div>

        <div class="gallery-image">
          <mat-card routerLink="/home/our-services" style="background: 
    url('../../../../assets/images/shoes.jpg') center center/cover">
            <span>
              <svg class="icon size-30 ">
                <use xlink:href="../assets/icons/svg-sprite.svg#shoe"></use>
              </svg>
            </span>
            <div class="category-title">Shoes <mat-icon class="text-white">navigate_next</mat-icon>
            </div>
            <span>Lorem ipsum dollor semit</span>
          </mat-card>
        </div>
        <div class="gallery-image">
          <mat-card routerLink="/home/our-services" style="background: 
    url('../../../../assets/images/iron.jpg') center center/cover">
            <span>
              <svg class="icon size-30 ">
                <use xlink:href="../assets/icons/svg-sprite.svg#iron"></use>
              </svg>
            </span>
            <div class="category-title">Press & SteamPress <mat-icon class="text-white">navigate_next</mat-icon>
            </div>
            <span>Lorem ipsum dollor semit</span>
          </mat-card>
        </div>
        <div class="gallery-image">
          <mat-card routerLink="/home/our-services" style="background: 
    url('../../../../assets/images/bag.jpg') center center/cover">
            <span>
              <svg class="icon size-30 ">
                <use xlink:href="../assets/icons/svg-sprite.svg#suitcase"></use>
              </svg>
            </span>
            <div class="category-title">Bags <mat-icon class="text-white">navigate_next</mat-icon>
            </div>
            <span>Lorem ipsum dollor semit</span>
          </mat-card>
        </div>
       
        <div class="gallery-image">
          <mat-card routerLink="/home/our-services" style="background: 
    url('../../../../assets/images/curtains.jpg') center center/cover">
            <span>
              <svg class="icon size-30 ">
                <use xlink:href="../assets/icons/svg-sprite.svg#curtains"></use>
              </svg>
            </span>
            <div class="category-title">Curtain Cleaning <mat-icon class="text-white">navigate_next</mat-icon>
            </div>
            <span>Lorem ipsum dollor semit</span>
          </mat-card>
        </div>
        <div class="gallery-image">
          <mat-card routerLink="/home/our-services" style="background: 
    url('../../../../assets/images/carpet.jpg') center center/cover">
            <span>
              <svg class="icon size-30 ">
                <use xlink:href="../assets/icons/svg-sprite.svg#carpet"></use>
              </svg>
            </span>
            <div class="category-title">Carpet <mat-icon class="text-white">navigate_next</mat-icon>
            </div>
            <span>Lorem ipsum dollor semit</span>
          </mat-card>
        </div>
        <div class="gallery-image">
          <mat-card routerLink="/home/our-services" style="background: 
    url('../../../../assets/images/carpet.jpg') center center/cover">
            <span>
              <svg class="icon size-30 ">
                <use xlink:href="../assets/icons/svg-sprite.svg#carpet"></use>
              </svg>
            </span>
            <div class="category-title">Rug Cleaning <mat-icon class="text-white">navigate_next</mat-icon>
            </div>
            <span>Lorem ipsum dollor semit</span>
          </mat-card>
        </div>
        <div class="gallery-image">
          <mat-card routerLink="/home/our-services" style="background: 
    url('../../../../assets/images/leather.jpg') center center/cover">
            <span>
              <svg class="icon size-30 ">
                <use xlink:href="../assets/icons/svg-sprite.svg#leather"></use>
              </svg>
            </span>
            <div class="category-title">Leathers <mat-icon class="text-white">navigate_next</mat-icon>
            </div>
            <span>Lorem ipsum dollor semit</span>
          </mat-card>
        </div>
      </div>

    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      On Demand Services
    </ng-template>
    <div class="tab-content-wrap card">


      <div class="gallery-wrapper">
        <div class="gallery-image">
          <mat-card routerLink="/home/our-services" style="background: 
    url('../../../../assets/images/carpet.jpg') center center/cover">
            <span>
              <svg class="icon size-30 ">
                <use xlink:href="../assets/icons/svg-sprite.svg#shirt"></use>
              </svg>
            </span>
            <div class="category-title">Household Items <mat-icon class="text-white">navigate_next</mat-icon>
            </div>
            <span>Lorem ipsum dollor semit</span>
          </mat-card>
        </div>
        <div class="gallery-image">
          <mat-card routerLink="/home/our-services"
            style="background:url('../../../../assets/images/curtains.jpg') center center/cover">
            <span>
              <svg class="icon size-30 ">
                <use xlink:href="../assets/icons/svg-sprite.svg#hanger"></use>
              </svg>
            </span>
            <div class="category-title">Home Cleaning <mat-icon class="text-white">navigate_next</mat-icon>
            </div>
            <span>Lorem ipsum dollor semit</span>
          </mat-card>
        </div>
        <div class="gallery-image">
          <mat-card routerLink="/home/our-services"
            style="background:url('../../../../assets/images/carpet.jpg') center center/cover">
            <span>
              <svg class="icon size-30 ">
                <use xlink:href="../assets/icons/svg-sprite.svg#hanger"></use>
              </svg>
            </span>
            <div class="category-title">Sofa Cleaning <mat-icon class="text-white">navigate_next</mat-icon>
            </div>
            <span>Lorem ipsum dollor semit</span>
          </mat-card>
        </div>
        <div class="gallery-image">
          <mat-card routerLink="/home/our-services"
            style="background:url('../../../../assets/images/curtains.jpg') center center/cover">
            <span>
              <svg class="icon size-30 ">
                <use xlink:href="../assets/icons/svg-sprite.svg#hanger"></use>
              </svg>
            </span>
            <div class="category-title">Sanitization <mat-icon class="text-white">navigate_next</mat-icon>
            </div>
            <span>Lorem ipsum dollor semit</span>
          </mat-card>
        </div>
      </div>
    </div>

  </mat-tab>
</mat-tab-group>