<div class="gallery-wrapper">
  <div class="gallery-image">
    <mat-card routerLink="/home/our-services" >
      <span>
        <svg class="icon size-30 icon-black">
          <use xlink:href="../assets/icons/svg-sprite.svg#shirt"></use>
        </svg> 
      </span>
      <div class="category-title">Wash & fold <mat-icon>navigate_next</mat-icon></div>
      <span>Lorem ipsum dollor semit</span>
    </mat-card>
  </div>
  <div class="gallery-image">
    <mat-card routerLink="/home/our-services" >
      <span>
        <svg class="icon size-30 icon-black">
          <use xlink:href="../assets/icons/svg-sprite.svg#hanger"></use>
        </svg> 
      </span>
      <div class="category-title">Dry cleaning <mat-icon>navigate_next</mat-icon></div>
      <span>Lorem ipsum dollor semit</span>
    </mat-card>
  </div>
  <div class="gallery-image">
    <mat-card routerLink="/home/our-services" >
      <span>
        <svg class="icon size-30 icon-black">
          <use xlink:href="../assets/icons/svg-sprite.svg#hanger"></use>
        </svg> 
      </span>
      <div class="category-title">Green Dry cleaning <mat-icon>navigate_next</mat-icon></div>
      <span>Lorem ipsum dollor semit</span>
    </mat-card>
  </div>
  <div class="gallery-image">
    <mat-card routerLink="/home/our-services" >
      <span>
        <svg class="icon size-30 icon-black">
          <use xlink:href="../assets/icons/svg-sprite.svg#iron"></use>
        </svg> 
      </span>
      <div class="category-title">Ironing <mat-icon>navigate_next</mat-icon></div>
      <span>Lorem ipsum dollor semit</span>
    </mat-card>
  </div>
  <div class="gallery-image">
    <mat-card routerLink="/home/our-services" >
      <span>
        <svg class="icon size-30 icon-black">
          <use xlink:href="../assets/icons/svg-sprite.svg#shoe"></use>
        </svg> 
      </span>
      <div class="category-title">Shoes <mat-icon>navigate_next</mat-icon></div>
      <span>Lorem ipsum dollor semit</span>
    </mat-card>
  </div>
  <div class="gallery-image">
    <mat-card routerLink="/home/our-services" >
      <span>
        <svg class="icon size-30 icon-black">
          <use xlink:href="../assets/icons/svg-sprite.svg#suitcase"></use>
        </svg> 
      </span>
      <div class="category-title">Bags <mat-icon>navigate_next</mat-icon></div>
      <span>Lorem ipsum dollor semit</span>
    </mat-card>
  </div>
  <div class="gallery-image">
    <mat-card routerLink="/home/our-services" >
      <span>
        <svg class="icon size-30 icon-black">
          <use xlink:href="../assets/icons/svg-sprite.svg#curtains"></use>
        </svg> 
      </span>
      <div class="category-title">Curtain Cleaning <mat-icon>navigate_next</mat-icon></div>
      <span>Lorem ipsum dollor semit</span>
    </mat-card>
  </div>
  <div class="gallery-image">
    <mat-card routerLink="/home/our-services" >
      <span>
        <svg class="icon size-30 icon-black">
          <use xlink:href="../assets/icons/svg-sprite.svg#carpet"></use>
        </svg> 
      </span>
      <div class="category-title">Carpet <mat-icon>navigate_next</mat-icon></div>
      <span>Lorem ipsum dollor semit</span>
    </mat-card>
  </div>
  <div class="gallery-image">
    <mat-card routerLink="/home/our-services" >
      <span>
        <svg class="icon size-30 icon-black">
          <use xlink:href="../assets/icons/svg-sprite.svg#leather"></use>
        </svg> 
      </span>
      <div class="category-title">Leathers <mat-icon>navigate_next</mat-icon></div>
      <span>Lorem ipsum dollor semit</span>
    </mat-card>
  </div>
</div>
