<div class="profile">
  <a href="javascript:void(0);" class="profile-image" routerLink="/dashboard/home" routerLinkActive="active">
    <img src="https://dummyimage.com/180x180/b8b8b8/000000">
  </a>
  <div class="profile-name-wrapper">
    <span class="profile-name">Ben Pinkleman</span>
    <span class="profile-location">
      <mat-icon>room</mat-icon>
      <span>Miami, Florida</span>
    </span>
  </div>
</div>
<nav>
  <ul>
    <li>
      <a routerLink="/home/profile" routerLinkActive="active">
        <mat-icon>person</mat-icon>
        <span>My Profile</span>
      </a>
    </li>
    <li>
      <a routerLink="/home/categories" routerLinkActive="active">
        <mat-icon>engineering</mat-icon>
        <span>Services</span>
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/search" routerLinkActive="active">
        <mat-icon>room</mat-icon>
        <span>Addresses</span>
      </a>
    </li>
    <li>
      <a routerLink="/home/cart" routerLinkActive="active">
        <mat-icon>shopping_cart</mat-icon>
        <span>Orders</span>
      </a>
    </li>
    <li>
      <a href="">
        <mat-icon>settings</mat-icon>
        <span>Payment</span>
      </a>
    </li>
    <li>
      <a href="">
        <mat-icon>share</mat-icon>
        <span>Share</span>
      </a>
    </li>
    <li>
      <a href="">
        <mat-icon>info</mat-icon>
        <span>FAQs</span>
      </a>
    </li>
    <li>
      <a href="">
        <mat-icon>phone</mat-icon>
        <span>Contact us</span>
      </a>
    </li>

  </ul>
</nav>