<div class="edit-profile-wrapper card">
  <form>
    <mat-list>

      <mat-list-item>
        <label class="profile edit" for="file-input">
          <span class="profile-image">
            <img src="https://dummyimage.com/180x180/b8b8b8/000000">
          </span>
        </label>
        <input class="file-input" id="file-input" type="file" />
      </mat-list-item>

      <mat-list-item>
        <div class="row">
          <div class="column no-border">
            <label class="block">Name:</label>
            <div class="form-group">
              <input type="text" class="rugby-input" placeholder="Name" value="First Name" />
            </div>
          </div>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="row">
          <div class="column no-border">
            <label class="block">Email:</label>
            <div class="form-group">
              <input type="email" class="rugby-input" placeholder="Email" value="test@test.com" />
            </div>
          </div>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="row">
          <div class="column no-border">
            <label class="block">Password:</label>
            <div class="form-group">
              <input type="password" class="rugby-input" placeholder="Password" value="abcd123#" />
            </div>
          </div>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="row">
          <div class="column no-border">
            <label class="block">Phone number:</label>
            <div class="form-group">
              <input type="text" class="rugby-input" placeholder="Phone Number" value="9876543210" />
            </div>
          </div>
        </div>
      </mat-list-item>
    </mat-list>
  </form>
</div>

<div class="floating-button right">
  <button mat-raised-button color="primary">Update Profile</button>
</div>