<div class="edit-profile-wrapper card">
  <form>
    <mat-list>

      <mat-list-item>
        <div class="row">
          <div class="column no-border">
            <label class="block">Name:</label>
            <div class="form-group">
              <input type="text" class="rugby-input" placeholder="Name" value="First Name" />
            </div>
          </div>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="row">
          <div class="column no-border">
            <label class="block">Email:</label>
            <div class="form-group">
              <input type="email" class="rugby-input" placeholder="Email" value="test@test.com" />
            </div>
          </div>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="row">
          <div class="column no-border">
            <label class="block">Password:</label>
            <div class="form-group">
              <input type="password" class="rugby-input" placeholder="Password" value="abcd123#" />
            </div>
          </div>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="row">
          <div class="column no-border">
            <label class="block">Phone number:</label>
            <div class="form-group">
              <input type="text" class="rugby-input" placeholder="Phone Number" value="9876543210" />
            </div>
          </div>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="row">
          <div class="column no-border">
            <label class="block">Birthday:</label>
            <div class="form-group">
              <input type="text" class="rugby-input" placeholder="Birth date" value="15/02/1994" />
            </div>
            <small>We will send surprize on your Birthday!</small>
          </div>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="row">
          <div class="column no-border">
            <label class="block">Anniversary:</label>
            <div class="form-group">
              <input type="text" class="rugby-input" placeholder="Anniversary Date" value="15/02/1994" />
            </div>
            <small>We will send surprize on your Anniversary!</small> 
          </div>
        </div>
      </mat-list-item>
    </mat-list>
    <!-- <mat-list-item>
      <div class="row">
        <div class="column no-border">
          <a href="" routerLink="/home/profile/user-preference" style="margin-left: 15px; margin-top: 8px;
          display: inline-block;">Change preferences</a>
        </div>
      </div>
    </mat-list-item> -->

  </form>
</div>

<div class="floating-button right">
  <button mat-raised-button color="primary">Update Profile</button>
</div>