<mat-tab-group mat-stretch-tabs class="tab-with-icon" mat-align-tabs="center">
  <mat-tab>
    <ng-template mat-tab-label>
      Current Order
    </ng-template>
    <div class="tab-content-wrap card">
      <div class="d-flex text-center service-type-buttons" style="padding-top: 16px;">
        <h1>
          Dry Cleaning
        </h1>
      </div>
      
      <div class="timeline">
        <div class="timeline-item yes">
          <div>Scheduled</div>
          <div class="round"><mat-icon>check</mat-icon></div>
        </div>
        <div class="timeline-item yes">
          <div>Collected</div>
          <div class="round"><mat-icon>check</mat-icon></div>
        </div>
        <div class="timeline-item">
          <div>Cleaning</div>
          <div class="round"><mat-icon>check</mat-icon></div>
        </div>
        <div class="timeline-item">
          <div>Delivered</div>
          <div class="round"><mat-icon>check</mat-icon></div>
        </div>
      </div>

      <div class="tab-content-wrap card">
        <div class="list-view-wrapper">
          <mat-list>
            <mat-list-item>
              <a href="javascript:void(0);" class="playerlist-item">
                <div>
                  <svg class="icon size-30 icon-black">
                    <use xlink:href="../assets/icons/svg-sprite.svg#tshirt"></use>
                  </svg>
                  <div>
                    <span class="strong text-blue item-title">Tshirt</span> <span class="text-grey block item-subtitle">men/women
                      tshirts</span>
                  </div>
                </div>
                <div class="text-grey text-right">
                  <div class="updated-price">
                    ₹10 x 10 = <span class="text-blue">₹100</span>
                  </div>
                  <a href="Edit">Edit</a>
                </div>
              </a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <a href="javascript:void(0);" class="playerlist-item">
                <div>
                  <svg class="icon size-30 icon-black">
                    <use xlink:href="../assets/icons/svg-sprite.svg#tshirt"></use>
                  </svg>
                  <div>
                    <span class="strong text-blue item-title">Tshirt</span> <span class="text-grey block item-subtitle">men/women
                      tshirts</span>
                  </div>
                </div>
                <div class="text-grey text-right">
                  <div class="updated-price">
                    ₹10 x 10 = <span class="text-blue">₹100</span>
                  </div>
                  <a href="Edit">Edit</a>
                </div>
              </a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <a href="javascript:void(0);" class="playerlist-item">
                <div>
                  <svg class="icon size-30 icon-black">
                    <use xlink:href="../assets/icons/svg-sprite.svg#tshirt"></use>
                  </svg>
                  <div>
                    <span class="strong text-blue item-title">Tshirt</span> <span class="text-grey block item-subtitle">men/women
                      tshirts</span>
                  </div>
                </div>
                <div class="text-grey text-right">
                  <div class="updated-price">
                    ₹10 x 10 = <span class="text-blue">₹100</span>
                  </div>
                  <a href="Edit">Edit</a>
                </div>
              </a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <a href="javascript:void(0);" class="playerlist-item">
                <div>
                  <svg class="icon size-30 icon-black">
                    <use xlink:href="../assets/icons/svg-sprite.svg#tshirt"></use>
                  </svg>
                  <div>
                    <span class="strong text-blue item-title">Tshirt</span> <span class="text-grey block item-subtitle">men/women
                      tshirts</span>
                  </div>
                </div>
                <div class="text-grey text-right">
                  <div class="updated-price">
                    ₹10 x 10 = <span class="text-blue">₹100</span>
                  </div>
                  <a href="Edit">Edit</a>
                </div>
              </a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <a href="javascript:void(0);" class="playerlist-item">
                <div>
                  <svg class="icon size-30 icon-black">
                    <use xlink:href="../assets/icons/svg-sprite.svg#tshirt"></use>
                  </svg>
                  <div>
                    <span class="strong text-blue item-title">Tshirt</span> <span class="text-grey block item-subtitle">men/women
                      tshirts</span>
                  </div>
                </div>
                <div class="text-grey text-right">
                  <div class="updated-price">
                    ₹10 x 10 = <span class="text-blue">₹100</span>
                  </div>
                  <a href="Edit">Edit</a>
                </div>
              </a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <div href="javascript:void(0);" class="playerlist-item">
                <div>
                  Total
                </div>
                <div class="text-grey text-right">
                  <div class="text-grey text-right">
                    <div class="total-price">
                      <span class="text-blue"><strong>₹400</strong></span>
                      <mat-icon>info</mat-icon>
                    </div>
                  </div>
                </div>
              </div>
            </mat-list-item>

          </mat-list>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Past orders
    </ng-template>
    <div class="tab-content-wrap card" style="padding: 8px;">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              #orderID12319842346
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
        
        
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              #orderID12319842346
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-tab>

</mat-tab-group>

<div class="floating-button right">
  <button mat-raised-button color="primary" routerLink="/home/checkout">Checkout (₹400) &gt;</button>
</div>