<div class="banner-section" style="background: 
url('../../../../assets/images/washing.jpg') center center/cover">
  <div>Wash & Fold</div>
</div>

<mat-tab-group mat-stretch-tabs class="tab-with-icon" mat-align-tabs="center" >
  <mat-tab>
    <ng-template mat-tab-label>
      <svg class="icon size-30 icon-black">
        <use xlink:href="../assets/icons/svg-sprite.svg#tshirt"></use>
      </svg> 
      Tops
    </ng-template>
    <div class="tab-content-wrap card"> 
      <div class="list-view-wrapper">
        <mat-list>
          <mat-list-item>
            <a href="javascript:void(0);" class="playerlist-item">
              <div>
                <svg class="icon size-30 icon-black">
                  <use xlink:href="../assets/icons/svg-sprite.svg#tshirt"></use>
                </svg> 
                <div>
                  <span class="strong text-blue item-title">Tshirt</span> <span class="text-grey block item-subtitle">men/women tshirts</span>
                </div>
              </div>
              <div class="text-grey text-right">
                <div class="updated-price">
                  ₹100
                 </div>
               
              </div>
            </a>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <a href="javascript:void(0);" class="playerlist-item">
              <div>
                <svg class="icon size-30 icon-black">
                  <use xlink:href="../assets/icons/svg-sprite.svg#tshirt"></use>
                </svg> 
                <div>
                  <span class="strong text-blue item-title">V-neck Tshirt</span> <span class="text-grey block item-subtitle">men/women tshirts</span>
                </div>
              </div>
              <div class="text-grey text-right">
                <div class="updated-price">
                  ₹100
                 </div>
               
              </div>
            </a>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <a href="javascript:void(0);" class="playerlist-item">
              <div>
                <svg class="icon size-30 icon-black">
                  <use xlink:href="../assets/icons/svg-sprite.svg#tshirt"></use>
                </svg> 
                <div>
                  <span class="strong text-blue item-title">Shirt casual</span> <span class="text-grey block item-subtitle">men/women tshirts</span>
                </div>
              </div>
              <div class="text-grey text-right">
                <div class="updated-price">
                  ₹100
                 </div>
                
              </div>
            </a>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <a href="javascript:void(0);" class="playerlist-item">
              <div>
                <svg class="icon size-30 icon-black">
                  <use xlink:href="../assets/icons/svg-sprite.svg#tshirt"></use>
                </svg> 
                <div>
                  <span class="strong text-blue item-title">Shirt Formal</span> <span class="text-grey block item-subtitle">men/women tshirts</span>
                </div>
              </div>
              <div class="text-grey text-right">
                <div class="updated-price">
                  ₹100
                 </div>
                
              </div>
            </a>
          </mat-list-item>
          </mat-list>
          </div>
      </div>
    
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <svg class="icon size-30 icon-black">
        <use xlink:href="../assets/icons/svg-sprite.svg#jeans"></use>
      </svg> 
      Bottoms
    </ng-template>
    <div class="tab-content-wrap card"> 
      <div class="list-view-wrapper">
        <mat-list>
          <mat-list-item>
            <a href="javascript:void(0);" class="playerlist-item">
              <div>
                <svg class="icon size-30 icon-black">
                  <use xlink:href="../assets/icons/svg-sprite.svg#jeans"></use>
                </svg> 
                <div>
                  <span class="strong text-blue item-title">Pants</span> <span class="text-grey block item-subtitle">men/women Bottoms</span>
                </div>
              </div>
              <div class="text-grey text-right">
                <div class="updated-price">
                  ₹10
                 </div>
                
              </div>
            </a>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <a href="javascript:void(0);" class="playerlist-item">
              <div>
                <svg class="icon size-30 icon-black">
                  <use xlink:href="../assets/icons/svg-sprite.svg#jeans"></use>
                </svg> 
                <div>
                  <span class="strong text-blue item-title">V-neck Tshirt</span> <span class="text-grey block item-subtitle">men/women Bottoms</span>
                </div>
              </div>
              <div class="text-grey text-right">
                <div class="updated-price">
                  ₹100
                 </div>
                
              </div>
            </a>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <a href="javascript:void(0);" class="playerlist-item">
              <div>
                <svg class="icon size-30 icon-black">
                  <use xlink:href="../assets/icons/svg-sprite.svg#jeans"></use>
                </svg> 
                <div>
                  <span class="strong text-blue item-title">Shirt casual</span> <span class="text-grey block item-subtitle">men/women Bottoms</span>
                </div>
              </div>
              <div class="text-grey text-right">
                <div class="updated-price">
                  ₹100
                 </div>
                
              </div>
            </a>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <a href="javascript:void(0);" class="playerlist-item">
              <div>
                <svg class="icon size-30 icon-black">
                  <use xlink:href="../assets/icons/svg-sprite.svg#jeans"></use>
                </svg> 
                <div>
                  <span class="strong text-blue item-title">Tops</span> <span class="text-grey block item-subtitle">men/women Bottoms</span>
                </div>
              </div>
              <div class="text-grey text-right">
                <div class="updated-price">
                  ₹10
                 </div>
                
              </div>
            </a>
          </mat-list-item>
          </mat-list>
          </div>
      </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <svg class="icon size-30 icon-black">
        <use xlink:href="../assets/icons/svg-sprite.svg#dress"></use>
      </svg> 
      Dress
    </ng-template>
    <div class="tab-content-wrap card"> 
      <div class="list-view-wrapper">
        <mat-list>
          <mat-list-item>
            <a href="javascript:void(0);" class="playerlist-item">
              <div>
                <svg class="icon size-30 icon-black">
                  <use xlink:href="../assets/icons/svg-sprite.svg#dress"></use>
                </svg> 
                <div>
                  <span class="strong text-blue item-title">Shirt</span> 
                  <span class="text-grey block item-subtitle">men/women Dress</span>
                </div>
              </div>
              <div class="text-grey text-right">
                <div class="updated-price">
                  ₹10
                 </div>
                
              </div>
            </a>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <a href="javascript:void(0);" class="playerlist-item">
              <div>
                <svg class="icon size-30 icon-black">
                  <use xlink:href="../assets/icons/svg-sprite.svg#dress"></use>
                </svg> 
                <div>
                  <span class="strong text-blue item-title">Blouse</span>
                   <span class="text-grey block item-subtitle">men/women Dress</span>
                </div>
              </div>
              <div class="text-grey text-right">
                <div class="updated-price">
                  ₹5
                 </div>
                
              </div>
            </a>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <a href="javascript:void(0);" class="playerlist-item">
              <div>
                <svg class="icon size-30 icon-black">
                  <use xlink:href="../assets/icons/svg-sprite.svg#dress"></use>
                </svg> 
                <div>
                  <span class="strong text-blue item-title">Shirt Informal</span>
                   <span class="text-grey block item-subtitle">men/women Dress</span>
                </div>
              </div>
              <div class="text-grey text-right">
                <div class="updated-price">
                  ₹30
                 </div>
                
              </div>
            </a>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <a href="javascript:void(0);" class="playerlist-item">
              <div>
                <svg class="icon size-30 icon-black">
                  <use xlink:href="../assets/icons/svg-sprite.svg#dress"></use>
                </svg> 
                <div>
                  <span class="strong text-blue item-title">Shirt Formal</span> <span class="text-grey block item-subtitle">men/women Dress</span>
                </div>
              </div>
              <div class="text-grey text-right">
                <div class="updated-price">
                  ₹10
                 </div>
                
              </div>
            </a>
          </mat-list-item>
          </mat-list>
          </div>
      </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <svg class="icon size-30 icon-black">
        <use xlink:href="../assets/icons/svg-sprite.svg#suit"></use>
      </svg> 
      Suits
    </ng-template>
    <div class="tab-content-wrap card"> 
      <div class="list-view-wrapper">
        <mat-list>
          <mat-list-item>
            <a href="javascript:void(0);" class="playerlist-item">
              <div>
                <svg class="icon size-30 icon-black">
                  <use xlink:href="../assets/icons/svg-sprite.svg#suit"></use>
                </svg> 
                <div>
                  <span class="strong text-blue item-title">Normal Suit</span> 
                  <span class="text-grey block item-subtitle">men/women Suits</span>
                </div>
              </div>
              <div class="text-grey text-right">
                <div class="updated-price">
                  ₹20
                 </div>
                
              </div>
            </a>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <a href="javascript:void(0);" class="playerlist-item">
              <div>
                <svg class="icon size-30 icon-black">
                  <use xlink:href="../assets/icons/svg-sprite.svg#suit"></use>
                </svg> 
                <div>
                  <span class="strong text-blue item-title">Formal Suit</span>
                   <span class="text-grey block item-subtitle">men/women Suits</span>
                </div>
              </div>
              <div class="text-grey text-right">
                <div class="updated-price">
                  ₹30
                 </div>
                
              </div>
            </a>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <a href="javascript:void(0);" class="playerlist-item">
              <div>
                <svg class="icon size-30 icon-black">
                  <use xlink:href="../assets/icons/svg-sprite.svg#suit"></use>
                </svg> 
                <div>
                  <span class="strong text-blue item-title">Laddies Suit</span>
                  <span class="text-grey block item-subtitle">men/women Suits</span>
                </div>
              </div>
              <div class="text-grey text-right">
                <div class="updated-price">
                  ₹30
                 </div>
                
              </div>
            </a>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <a href="javascript:void(0);" class="playerlist-item">
              <div>
                <svg class="icon size-30 icon-black">
                  <use xlink:href="../assets/icons/svg-sprite.svg#suit"></use>
                </svg> 
                <div>
                  <span class="strong text-blue item-title">Ladies Formal Suit</span>
                  <span class="text-grey block item-subtitle">men/women Suits</span>
                </div>
              </div>
              <div class="text-grey text-right">
                <div class="updated-price">
                  ₹10
                 </div>
                
              </div>
            </a>
          </mat-list-item>
          </mat-list>
          </div>
      </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <svg class="icon size-30 icon-black">
        <use xlink:href="../assets/icons/svg-sprite.svg#hoodie"></use>
      </svg> 
      Knitewear
    </ng-template>
    <div class="tab-content-wrap card"> 
      <div class="list-view-wrapper">
        <mat-list>
          <mat-list-item>
            <a href="javascript:void(0);" class="playerlist-item">
              <div>
                <svg class="icon size-30 icon-black">
                  <use xlink:href="../assets/icons/svg-sprite.svg#hoodie"></use>
                </svg> 
                <div>
                  <span class="strong text-blue item-title">Night Dress</span> 
                  <span class="text-grey block item-subtitle">men/women Knitewear</span>
                </div>
              </div>
              <div class="text-grey text-right">
                <div class="updated-price">
                  ₹5
                 </div>
                
              </div>
            </a>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <a href="javascript:void(0);" class="playerlist-item">
              <div>
                <svg class="icon size-30 icon-black">
                  <use xlink:href="../assets/icons/svg-sprite.svg#hoodie"></use>
                </svg> 
                <div>
                  <span class="strong text-blue item-title">lahenga</span>
                  <span class="text-grey block item-subtitle">men/women Knitewear</span>
                </div>
              </div>
              <div class="text-grey text-right">
                <div class="updated-price">
                  ₹5
                 </div>
                
              </div>
            </a>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <a href="javascript:void(0);" class="playerlist-item">
              <div>
                <svg class="icon size-30 icon-black">
                  <use xlink:href="../assets/icons/svg-sprite.svg#hoodie"></use>
                </svg> 
                <div>
                  <span class="strong text-blue item-title">Pajama</span>
                  <span class="text-grey block item-subtitle">men/women Knitewear</span>
                </div>
              </div>
              <div class="text-grey text-right">
                <div class="updated-price">
                  ₹3
                 </div>
                
              </div>
            </a>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <a href="javascript:void(0);" class="playerlist-item">
              <div>
                <svg class="icon size-30 icon-black">
                  <use xlink:href="../assets/icons/svg-sprite.svg#hoodie"></use>
                </svg> 
                <div>
                  <span class="strong text-blue item-title">Knite Wear Gown</span>
                  <span class="text-grey block item-subtitle">men/women Knitewear</span>
                </div>
              </div>
              <div class="text-grey text-right">
                <div class="updated-price">
                  ₹5
                 </div>
                
              </div>
            </a>
          </mat-list-item>
          </mat-list>
          </div>
      </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <svg class="icon size-30 icon-black">
        <use xlink:href="../assets/icons/svg-sprite.svg#tie"></use>
      </svg> 
      Accessories
    </ng-template>
    <div class="tab-content-wrap card"> 
      <div class="list-view-wrapper">
        <mat-list>
          <mat-list-item>
            <a href="javascript:void(0);" class="playerlist-item">
              <div>
                <svg class="icon size-30 icon-black">
                  <use xlink:href="../assets/icons/svg-sprite.svg#tie"></use>
                </svg> 
                <div>
                  <span class="strong text-blue item-title">Scarf</span>
                  <span class="text-grey block item-subtitle">men/women  Accessories</span>
                </div>
              </div>
              <div class="text-grey text-right">
                <div class="updated-price">
                  ₹5
                 </div>
                
              </div>
            </a>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <a href="javascript:void(0);" class="playerlist-item">
              <div>
                <svg class="icon size-30 icon-black">
                  <use xlink:href="../assets/icons/svg-sprite.svg#tie"></use>
                </svg> 
                <div>
                  <span class="strong text-blue item-title">Tie</span>
                  <span class="text-grey block item-subtitle">men/women  Accessories</span>
                </div>
              </div>
              <div class="text-grey text-right">
                <div class="updated-price">
                  ₹5
                 </div>
                
              </div>
            </a>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <a href="javascript:void(0);" class="playerlist-item">
              <div>
                <svg class="icon size-30 icon-black">
                  <use xlink:href="../assets/icons/svg-sprite.svg#tie"></use>
                </svg> 
                <div>
                  <span class="strong text-blue item-title">handkerchief</span>
                  <span class="text-grey block item-subtitle">men/women  Accessories</span>
                </div>
              </div>
              <div class="text-grey text-right">
                <div class="updated-price">
                  ₹3
                 </div>
                
              </div>
            </a>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <a href="javascript:void(0);" class="playerlist-item">
              <div>
                <svg class="icon size-30 icon-black">
                  <use xlink:href="../assets/icons/svg-sprite.svg#tie"></use>
                </svg> 
                <div>
                  <span class="strong text-blue item-title">Mens handkerchief</span>
                  <span class="text-grey block item-subtitle">men/women  Accessories</span>
                </div>
              </div>
              <div class="text-grey text-right">
                <div class="updated-price">
                  ₹5
                 </div>
                
              </div>
            </a>
          </mat-list-item>
          </mat-list>
          </div>
      </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <svg class="icon size-30 icon-black">
        <use xlink:href="../assets/icons/svg-sprite.svg#poncho"></use>
      </svg> 
      Traditional
    </ng-template>
    <div class="tab-content-wrap card"> 
      <div class="list-view-wrapper">
        <mat-list>
          <mat-list-item>
            <a href="javascript:void(0);" class="playerlist-item">
              <div>
                <svg class="icon size-30 icon-black">
                  <use xlink:href="../assets/icons/svg-sprite.svg#poncho"></use>
                </svg> 
                <div>
                  <span class="strong text-blue item-title">Lahengas</span>
                  <span class="text-grey block item-subtitle">men/women Traditional</span>
                </div>
              </div>
              <div class="text-grey text-right">
                <div class="updated-price">
                  ₹5
                 </div>
                
              </div>
            </a>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <a href="javascript:void(0);" class="playerlist-item">
              <div>
                <svg class="icon size-30 icon-black">
                  <use xlink:href="../assets/icons/svg-sprite.svg#poncho"></use>
                </svg> 
                <div>
                  <span class="strong text-blue item-title">Blouse</span> 
                  <span class="text-grey block item-subtitle">men/women Traditional</span>
                </div>
              </div>
              <div class="text-grey text-right">
                <div class="updated-price">
                  ₹5
                 </div>
                
              </div>
            </a>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <a href="javascript:void(0);" class="playerlist-item">
              <div>
                <svg class="icon size-30 icon-black">
                  <use xlink:href="../assets/icons/svg-sprite.svg#poncho"></use>
                </svg> 
                <div>
                  <span class="strong text-blue item-title">Kurti With net Printed</span>
                  <span class="text-grey block item-subtitle">men/women Traditional</span>
                </div>
              </div>
              <div class="text-grey text-right">
                <div class="updated-price">
                  ₹3
                 </div>
                
              </div>
            </a>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <a href="javascript:void(0);" class="playerlist-item">
              <div>
                <svg class="icon size-30 icon-black">
                  <use xlink:href="../assets/icons/svg-sprite.svg#poncho"></use>
                </svg> 
                <div>
                  <span class="strong text-blue item-title">Sarees</span> 
                  <span class="text-grey block item-subtitle">men/women Traditional</span>
                </div>
              </div>
              <div class="text-grey text-right">
                <div class="updated-price">
                  ₹5
                 </div>
                
              </div>
            </a>
          </mat-list-item>
          </mat-list>
          </div>
      </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <svg class="icon size-30 icon-black">
        <use xlink:href="../assets/icons/svg-sprite.svg#bed"></use>
      </svg> 
      Household
    </ng-template>
    <div class="tab-content-wrap card"> 
      <div class="list-view-wrapper">
        <mat-list>
          <mat-list-item>
            <a href="javascript:void(0);" class="playerlist-item">
              <div>
                <svg class="icon size-30 icon-black">
                  <use xlink:href="../assets/icons/svg-sprite.svg#bed"></use>
                </svg> 
                <div>
                  <span class="strong text-blue item-title">Bed Cover</span>
                  <span class="text-grey block item-subtitle">men/women Household</span>
                </div>
              </div>
              <div class="text-grey text-right">
                <div class="updated-price">
                  ₹10
                 </div>
                
              </div>
            </a>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <a href="javascript:void(0);" class="playerlist-item">
              <div>
                <svg class="icon size-30 icon-black">
                  <use xlink:href="../assets/icons/svg-sprite.svg#bed"></use>
                </svg> 
                <div>
                  <span class="strong text-blue item-title">Bed Sheets</span>
                  <span class="text-grey block item-subtitle">men/women Household</span>
                </div>
              </div>
              <div class="text-grey text-right">
                <div class="updated-price">
                  ₹10
                 </div>
                
              </div>
            </a>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <a href="javascript:void(0);" class="playerlist-item">
              <div>
                <svg class="icon size-30 icon-black">
                  <use xlink:href="../assets/icons/svg-sprite.svg#bed"></use>
                </svg> 
                <div>
                  <span class="strong text-blue item-title">Pillow Cover</span>
                  <span class="text-grey block item-subtitle">men/women Household</span>
                </div>
              </div>
              <div class="text-grey text-right">
                <div class="updated-price">
                  ₹6
                 </div>
                
              </div>
            </a>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <a href="javascript:void(0);" class="playerlist-item">
              <div>
                <svg class="icon size-30 icon-black">
                  <use xlink:href="../assets/icons/svg-sprite.svg#bed"></use>
                </svg> 
                <div>
                  <span class="strong text-blue item-title">Sheets</span> 
                  <span class="text-grey block item-subtitle">men/women Household</span>
                </div>
              </div>
              <div class="text-grey text-right">
                <div class="updated-price">
                  ₹15
                 </div>
                
              </div>
            </a>
          </mat-list-item>
          </mat-list>
          </div>
      </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <svg class="icon size-30 icon-black">
        <use xlink:href="../assets/icons/svg-sprite.svg#teddy-bear"></use>
      </svg> 
      Other
    </ng-template>
    <div class="tab-content-wrap card"> 
      <div class="list-view-wrapper">
        <mat-list>
          <mat-list-item>
            <a href="javascript:void(0);" class="playerlist-item">
              <div>
                <svg class="icon size-30 icon-black">
                  <use xlink:href="../assets/icons/svg-sprite.svg#teddy-bear"></use>
                </svg> 
                <div>
                  <span class="strong text-blue item-title">Toy duck</span>
                  <span class="text-grey block item-subtitle">men/women Other</span>
                </div>
              </div>
              <div class="text-grey text-right">
                <div class="updated-price">
                  ₹20
                 </div>
                
              </div>
            </a>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <a href="javascript:void(0);" class="playerlist-item">
              <div>
                <svg class="icon size-30 icon-black">
                  <use xlink:href="../assets/icons/svg-sprite.svg#teddy-bear"></use>
                </svg> 
                <div>
                  <span class="strong text-blue item-title">Monkey toy</span> 
                  <span class="text-grey block item-subtitle">men/women Other</span>
                </div>
              </div>
              <div class="text-grey text-right">
                <div class="updated-price">
                  ₹50
                 </div>
                
              </div>
            </a>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <a href="javascript:void(0);" class="playerlist-item">
              <div>
                <svg class="icon size-30 icon-black">
                  <use xlink:href="../assets/icons/svg-sprite.svg#teddy-bear"></use>
                </svg> 
                <div>
                  <span class="strong text-blue item-title">Small Teddy bear without hair</span>
                  <span class="text-grey block item-subtitle">men/women Other</span>
                </div>
              </div>
              <div class="text-grey text-right">
                <div class="updated-price">
                  ₹18
                 </div>
                
              </div>
            </a>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <a href="javascript:void(0);" class="playerlist-item">
              <div>
                <svg class="icon size-30 icon-black">
                  <use xlink:href="../assets/icons/svg-sprite.svg#teddy-bear"></use>
                </svg> 
                <div>
                  <span class="strong text-blue item-title">Mickey Mouse small</span> 
                  <span class="text-grey block item-subtitle">men/women Other</span>
                </div>
              </div>
              <div class="text-grey text-right">
                <div class="updated-price">
                  ₹24
                 </div>
                
              </div>
            </a>
          </mat-list-item>
          </mat-list>
          </div>
      </div>
  </mat-tab>
</mat-tab-group>
<div class="floating-button right">
  <button mat-raised-button color="primary" routerLink="/home" >Place Order</button>
</div>
