<div class="center-section">
  <div class="success-section">
    <mat-icon>done</mat-icon>
  </div>
  <p>
    Your order Placed Successfully,<br />
    Please wait for our <strong>Mr. Diver Name</strong> to reach at your door place.<br/>
    Please check <a routerLink="/home/cart">order status</a> for further updates from us.
  </p>

  <mat-card>
    <table>
      <tr>
        <td>Pickup Date</td>
        <td>08/08/2020</td>
      </tr>
      <tr>
        <td>Pickup Time</td>
        <td>1:00PM - 2:00PM</td>
      </tr>
      <tr>
        <td>Pickup Address</td>
        <td>B-21, Vasundhara society, O.P. road, 390001</td>
      </tr>
      <tr>
        <td>Delivery Date</td>
        <td>08/08/2020</td>
      </tr>
      <tr>
        <td>Delivery Time</td>
        <td>1:00PM - 2:00PM</td>
      </tr>
      <tr>
        <td>Delivery Address</td>
        <td>B-21, Vasundhara society, O.P. road, 390001</td>
      </tr>
      <tr>
        <td>Item</td>
        <td>10</td>
      </tr>
      <tr>
        <td>Total</td>
        <td>₹100</td>
      </tr>
    </table>
  </mat-card>
  


</div>




<div class="floating-button right">
  <button mat-raised-button color="primary" routerLink="/home/cart">Order Summary</button>
</div>